.shooting-gallery-game {
  display: flex;

  min-width: 0;
  min-height: 0;

  flex-grow: 1;
  flex-shrink: 1;
}

#shooting-gallery-canvas {
  cursor: crosshair;

  flex-grow: 1;
  flex-shrink: 1;

  min-width: 0;
  min-height: 0;
}
