.admin-options-page {
  max-width: 420px;

  margin-left: auto;
  margin-right: auto;
}

.admin-options-form {
  display: grid;
  gap: 20px;
}

.admin-options-row {
  display: grid;
  grid-template-columns: 1fr 30%;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.button-admin-wide {
  grid-column: 1 / 3;
}

.admin-options-title {
  font-size: 0.88rem;
  text-transform: uppercase;
  color: white;
  grid-column: 1 / 3;
}
