.leader-board {
  width: max(200px, 30vw);
  max-width: 300px;
  text-transform: uppercase;
}

.leader-board-entry {
  font-size: 0.85rem;
  font-weight: bold;
  color: #d2122e;
  overflow: hidden;

  padding-bottom: 13px;
}

.leader-board-entry:last-child {
  padding-bottom: 5px;
}

.leader-board-entry:hover {
  font-weight: bold;
}

.leader-board-name {
  float: left;
}

.leader-board-score {
  color: white;
  float: right;
}

.leader-board-empty-msg {
  font-size: max(10px, calc(10px + 0.2vw));
  color: white;
  margin-bottom: 2px;
  font-weight: bold;
}
