.option {
  padding: 0 0 20px 0;
  overflow: hidden;
  font-size: max(10px, calc(10px + 0.2vw));
  color: rgb(229, 229, 229);

  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.option:last-child {
  padding-bottom: 4px;
}
