.Option {
  overflow: hidden;
}

.Option {
  font-size: max(10px, calc(10px + 0.2vw));
  margin-top: 25px;
  color: rgb(229, 229, 229);
}

.Option label {
  float: left;
  text-transform: uppercase;
}

.Option input,
.Options select {
  float: right;
}

.Option input {
  margin-top: 2px;
}

.Option input[type="checkbox"] {
  border: 0px;
  margin-right: 0px;
}

.Option select {
  margin-top: 0px;
  font-size: 11px;
  border: 0px;
  margin-bottom: 12px;
  text-transform: uppercase;
}
