.stats {
  text-transform: uppercase;
}

.stats-title {
  font-size: 0.9rem;
  color: white;
  padding: 10px 0 10px 0;
}

.stats-title:first-of-type {
  padding-top: 0px;
}

.stat-row {
  overflow: hidden;
  padding: 5px 0 5px 0;
  font-size: 0.8rem;
}

.stat-row-name {
  float: left;
}

.stat-row-value {
  float: right;
  font-weight: bold;
}

.no-stats {
  color: white;
  font-weight: bold;
}
